<template>
<img src="../images/shakerite.png" class="logo" alt="Shakerite logo"/>
</template>

<script>

export default {
	name: 'Logo',
};
</script>

<style scoped>
.logo {
	max-height: 1.5rem;
}
</style>
